<!DOCTYPE html>
 <html>
 <head>
 <title style="color: red;">OUR COURSES</title>

  <style>
      body{

background-image: url(../static/5.jpg);
 }

  </style>
 </head>
 <body>
 <h1 style="color: red;"> <center>
     Who we are ?</center></h1> <br> <br>
 <h2 style="font-size:40px;">  The Mumbai headquartered Itvedant is one of the pioneers in the field of IT Training institutes in the country.</h2>

 <h5 style="font-size:19px;"> We started our journey as an online platform and now we have branches in Thane and Andheri in Mumbai where a large number of students attend regular classes. With the industry requirements getting specific day by day, upskilling the student group to fit into the job roles available are of high demand. Itvedant’s primary focus is the success of our students who believe in us, providing them with a rich practical knowledge in the subject area chosen.<h5>

<h5 style="font-size:19px;">We offer meticulously structured courses, focusing on the fundamentals equipping the enrolled with rich subject knowledge. We ensure “Industry ready” professionals are made out of each course at Itvedant and assure no students enrolled are left back without a job after the course period. A refund of the whole course fee will be given if any fail to get a job by taking terms & policies into consideration. Our main objective is to care utmost for student’s career transformation by delivering the most practical training under subject experts with rich experience in the field, within a disciplined framework. Here we ensure maximum effort from our side, helping our students to excel in their respective careers. Let’s together decode your dreams.</h5>
 
 </body>
 </html>  