<!DOCTYPE html>
 <html>
 <head>
 <title style="color: red;">OUR COURSES</title>

  <style>
      body{

background-image: url(../static/5.jpg);
 }
  

   input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
   }

   input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
   }


  </style>
 </head>
 <body>
 <h1>Courses Information</h1>
 <form >


 <table align="center" cellspacing = "10" cellpadding = "13" border = "10" width="1000">

  <tr><td><a href="/ds">Data Science. ...</a></td></tr>
  <tr><td><a href="/py">python. ...</a></td></tr>
  <tr><td><a href ="/sql">SQL. ...</a></td></tr>
  <tr><td><a href ="/java">JAVA. ...</a></td></tr>
  <tr><td><a href ="/dv">Data Visualization. ...</a></td></tr>
  <tr><td><a href ="/ai">AI & ML (Artificial Intelligence & Machine Learning)</a></td></tr>
  <tr><td><a href ="/pbi">Power BI ...</a></td></tr>
  

 </table>
 </form>
 </body>
 </html>  