<!DOCTYPE html>
 <html>
 <head>
 <title style="color: red;">OUR COURSES</title>

  <style>
      body{

background-image: url(../static/5.jpg);
 }

  </style>
 </head>
 <body>
 <h1 style="color: red;"> <center>
     What is Data Visualization...!!</center></h1> <br> <br>
 <h2 style="font-size:30px;">  Data visualization is the graphical representation of information and data. By using visual elements like charts, graphs, and maps, data visualization tools provide an accessible way to see and understand trends, outliers, and patterns in data.

    In the world of Big Data, data visualization tools and technologies are essential to analyze massive amounts of information and make data-driven decisions.</h2>

 <h5 style="font-size:19px;"> <h5>

 
 </body>
 </html>  