<!DOCTYPE html>
 <html>
 <head>
 <title style="color: red;">OUR COURSES</title>

  <style>
      body{

background-image: url(../static/5.jpg);
 }

  </style>
 </head>
 <body>
 <h1 style="color: red;"> <center>
     What is Python...!!</center></h1> <br> <br>
 <h2 style="font-size:30px;">  Python is a computer programming language often used to build websites
    and software, automate tasks, and conduct data analysis. Python is a 
    general purpose language, meaning it can be used to create a variety 
    of different programs and isn’t specialized for any specific problems.
    This versatility, along with its beginner-friendliness, has made it one
    of the most-used programming languages today..</h2>

 <h5 style="font-size:19px;"> <h5>

 
 </body>
 </html>  